---
templateKey: 'blog-post'
title: {{ data.name }}
date: {{ data.date }}T15:04:10.000Z
featuredpost: false
description: >-
  {{ data.grad_class }}
tags:
  - Alumni
  - Current Athlete
  - Swimming
  - Diving
---

# What does the program mean to you?
{{data.program_means}}


# Why did you choose MSU?
{{data.choose_msu}}

# Biggest life-lesson you are learning/learned from MSU?

{{data.life_lesson}}